
*.xml

.idea/workspace.xml

*.xml

bd.php

.idea/workspace.xml

torpix/Theme/assets/img/messages.jpg

torpix/Theme/assets/img/control.jpg

torpix/Theme/assets/img/social.jpg

foto_tovar/14374412_518505391681768_700697601_n.jpg

.idea/misc.xml

callback.php

.idea/misc.xml
/nbproject/private/
*.jpg
index.html
