AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>
